@media screen and (min-width:768px) {
    .main{
        display: none;
    }
    .bgonly{
    /* RuziH */
    background-image:  url(http://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png);
    height: 650px;
    padding: 0px 8px;
    }
    .bgicon{
    /* eNDJRj */
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    }
    .bgicononly{
    /* clJuRp */
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    }
    .bg-container{
         /* jLybrZ */
    width: 408px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    }
    .bg-txt{
        /* kcjNMt */
         margin-bottom: 24px;
    }
    .txt{
        font-size: 22px;
    }
    .opnap{
       display: none;
    }
    .sign {     
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 16px;
    z-index: 1;
    display: contents;
    }
    .sign > :first-child {
    padding-left: 16px;
    }
    .sign-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 16px;
    z-index: 1;    
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    }

    /* Red background - Sign In */
    .signin {
    letter-spacing: -0.01;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 0px 12px;
    border-radius: 9999px;
    border: none;
    background-color: #eb1700ff;
    color: #fff;
    font-family: 'bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 1px #19191900;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
    }

/* White background - Sign Up */
    .signup {
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px 10px;
    display: inline-flex;
    height: 38px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px #fff;
    color: #606060;
    font-family: 'bold';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    }
    .signtxt{
    /* kXCksQ */
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    justify-content: center;
    }
    .signtxt > * {
        width: 100%;
    }
    .searchh{
    /* .buOMNS ,cvwBbO*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    } 
    .searchh > * + *{
    margin-top:17px;
    }
    .click{
    /* cvFqUQ */
    background-color:#eb1700ff !important;
    }
    .s-container{
        border-radius: 12px;
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 0px;
        box-sizing: border-box;
    }
    .cont-border{
    justify-content: center;
    display: flex;
    min-height: 40px;
    }

    .cont-section{
    display: flex;
    border-radius: 32px;
    width: 100%;
    min-height: 40px;
    max-width: none;
    line-height: 12px;
    font-weight: 500;
    align-items: center;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom:7px;
    padding-left: 20px !important;
    border: none;
    box-shadow: 0 0 0 1px #f1f1f1;
    background-color: #ffff;
    }
    .s-settings{
        justify-content: center;
    }
    .search,.box{
        display: none;
    }
    .cnpadd{
        margin: 32px 0;
    }
    .cn{
        margin-right: 64px;
    }
    .cn img{
        height: 124px;
        width: 124px;
    }
    .box1-pdg{
        flex-direction: row;
        justify-content: center;
        margin-bottom: -60px;
     }
     .box1-mrg{
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        max-width: 1184px;
        box-sizing: border-box;
     }
      .box2-mrg{
        display: flex;
        flex-direction: row;
        gap: 60px;
        max-width: 1184px;
        justify-content: center;
        box-sizing: border-box;
        height: 504px;
     }
     .box1-margin{
        max-width: 400px;
        margin-top: auto;
        margin-bottom: auto;
        box-sizing: border-box;
     }
     .heading2{
        font-size: 40px;
        line-height: 40px;
        margin-top: 20px;
     }
     .heading3{
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
     }
     .box1-des{
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
     }
     .box2-des{
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
     }
     .btn-box{
        margin-top: 30px;
    }     
    .btn-mrg{
        min-height: 40px;
        padding: 0px 12px;
    } 
    .Login{
        font-size: 16px;
        align-items: center;
        justify-content: center;
    }
    .Log-signin{
        font-family: 'bold';
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.01px;
        line-height: 20px;
    }
    .rosebg{
        height: 604px;
        flex-direction: row;
        justify-content: center;
        padding: 80px 20px 20px 20px;
    }
    .whbg1{
        padding: 60px 20px 40px;
        justify-content: center;
    }
    .ads{
        height: 600px;
    }
    .ads-mgn{
        place-content: center;
    }
    .logintxt{
        min-width: 0px;
        display: flex;
        justify-content: center;
    }
    .box2-pdg{
        padding-top: 60px;
        margin-bottom: -40px;
    }
    .rosebg1{
        padding: 60px 20px 40px !important;
        justify-content: center;
    }
    .rosebghd{
        font-size: 32px;
        line-height: 40px;
        width: 500px;
    }
    .rosebox{
       display: none;
    }
    .rosebox768{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(254, 241, 238);
    }
    .rb-mgn{
        max-width: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        min-width: 0;
    }
    .rb-box{
        max-width: 100%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin: 0px;
    }
     .rb-row{
        display: flex;
        justify-content: center;
        flex-flow: wrap !important;
        width: 100%;
        max-width: 1184px;
    }
    .roseboxx{
        display: contents;
    }
    .rb-img{
        position: relative;
        width: 100%;
        height: 344px;
    }
    .rb-img img{
        inset: 0px;
        width: 100%;
        height: 344px;
        object-fit: cover;
        object-position: center center;
    } 
    .s-box1{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }
    .box1-mrgn > * > span {
        margin-top: 20px;
    }
    .ulpadding{
        width: 100%;
        max-width: 1130px;
        padding: 48px 0;
        margin: 0px auto;
    }
    .topcity,.topcuisines{
        padding: 0px;
    }
    .box768-des{
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        font-family: 'norms';
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        max-width: 100%;   
        color: #191919;
        letter-spacing: -0.01px;
        text-decoration: none;
        text-transform: none;
        display: block;
        padding: 0px;
    }
    .alcohol-button{
        font-weight: 500;
        font-size: 14px;
        margin-top: 20px;
        font-family: 'norms';
    }
    .footh2{
        text-align: left;
    }
    .footp1{
        flex-direction: row;
        text-align: left;
    }
    .s2padding{
        flex: 1 1 0%;
        flex-direction: row;
         text-align: left;
         gap: 108px;
         justify-content: space-between;
    }
    .sec-3{
        margin-top: 0px;
        flex-direction: row;
    }
    .sec-2{
        padding: 0px 12px;
        margin-bottom: 4px;
    }
    .section3{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 32px 0;
    }
    .lst1-txt,.lst-txt{
        white-space: nowrap;
    }
    .desk-img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
     .heading3{
        width: 383px;
    }
    .sec1{
        height: 36px;
    }
    #qw{
        display: block;
    }
    .box-fix{
        width: 100%;
        height: 504px;
    }
    .box1-img{
        display: none;
     }
     .box2-img{
        display: none;
     }
    #sign-in{
        display: none;
    }
    #s1p11,#s1p12{
    display: none;
    }
}
@media screen and (min-width:960px) {
    .bgicononly img{
        width: 42px;
        height: 24px;
    }
    .icontext img{
        width: 155px;
        height: 18px;
        margin-left: 4px;
    }
    .bg-container{
        width: 672px;
    }
    .txt{
        max-width: 750px;
        font-size: 40px;    
        line-height: 40px;
        display: block;
        white-space: nowrap;
    }
    .cont-section{
        max-width: 408px;
        height: 56px;
    }
    #sign{
        display: none;
    }
    #sign-in{
        display: block;
    }
    .icons > * + * {
        margin-left: 2px;
    }
    .heading3{
        width: 383px;
    }
    .s-box1{
        margin-top: 20px;
    }
     .rosebg{
        height: 604px;
     }
    .rosebghd{
        max-width: 450px;
    }
    .section2{
        /* width: 920px; */
        flex-direction: row;
        display: flex;
    }
    .rb-img{
        height: 440px;
    }
    .rb-img img{
        height: 440px;
    }
    .mob-goog{
        justify-content: flex-end;
    }
    .lang-mgn1{
        margin-bottom: 4px;
    }
    .line{
        white-space: nowrap;
    }
    .s2padding{
        gap: 12px;
        flex: 1 1 0%;
    }
     .rosebox768{
        display: flex;
        align-items: center;
        background-color: rgb(254, 241, 238);
    }
     .topcity {
        box-shadow:none;
        border-bottom: 3px solid #191919;
    }
    .lang-mgn1{
        margin-bottom: 0;
    }
}
@media screen and (min-width:1024px) {
    .rb-img{
        height: 472px;
    }
    .rb-img img {
        height: 472px;
    }
    .section3{
        height: 96px;
    }
}
@media screen and (min-width: 1184px){
    .CNimg{
        max-width: 1184px;
    }
    .cnpadd{
        margin: 96px 0px;
        padding: 12px;
    }
    .cnbody{
        flex-direction: row;
    }
    .cnbdy{
        flex-flow: column;
    }
    .cn{
        margin-right: 64px;
        display: flex;
        justify-content: center;
    }
    .cn img{
        height: 154px;
        width: 154px;
    }
    .heading,.texxt{
        text-align: center;
    }
    .texxt{
        margin-top: 8px;
    }
    .cn-btn{
        justify-content: center;
    }
    .cn-txt{
        font-size: 18px;
        line-height: 22px;
    }
    .rosebox768{
        display: flex;
        align-items: center;
        background-color: rgb(254, 241, 238);
    }
    .rb-img{
        height: 552px;
    }
    .rb-img img{
        height: 552px;
        width: 100%;
    }
    .topcity {
        box-shadow:none;
        border-bottom: 2px solid #191919;
    }
    .sec-2{
        margin-bottom: 0px;
    }
    .section3{
        height: 96px;
    }
    .sec1{
        height: 32px;
    }
}