*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.layermanager{
    /* kqrlsg */
    position: relative;
    z-index: 0;
}
.main{
    border: medium;
    margin-top: 16px;
    /* .zCCIu */
}
.i-main{
    /* IjbXLp */
    position: relative;
    box-sizing: border-box;
}
.ii-main{
    /* litHNU,lmTISd */
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    column-gap: 8px;
    padding: 8px 8px;
    align-items: center;
    overflow: hidden;
}

@font-face {
    font-family: 'norms2';
    src: url(font/TTNorms-Bold.woff2);
}
@font-face {
    font-family: 'norms';
    src: url(font/TTNorms-Medium.woff2);
}
@font-face{
    font-family: 'regular';
    src: url(font/TTNorms-Regular.woff2);
}
.logo{
    /* HqIfF */
    align-self: center;
    grid-area: 2/1;
    box-sizing: border-box;
}
.logo-container{
    /* itzZzp */
    color: #606060;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
.logo-img{
    /* jjYftL */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.img{
    flex-shrink: 0;
}
.logo-border{
    /* ijOhfZ */
    border-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #f1f1f1ff;
    box-sizing: border-box;
    line-height: 10px;
}
.head-main{
    /* jYnMxm,cJxGCl  */
    overflow: hidden;
    grid-area: 2/2;
    max-width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.head-main > * + *{
    margin-top: 0px;
}
.container{
    /* griaXr  */
    font-family: 'norms';
    text-align: left;
    display: block;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    overflow-X: hidden;
    color: #606060;
    font-family: 'norms';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    max-width: 100%;
    white-space: normal;
    text-overflow: ellipsis;
    flex-grow: 1;
    min-width: 0;
}
.container-txt{
    /* eKcdCF */
    max-width: 100%;
    margin-bottom: 0px;
    box-sizing: border-box;

}
.f-txt,.s-txt,.btn3{
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;  
}
.f-txt{
    /* eTUuUB  */
    color: #191919;
    font-family: 'norms2';
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    display: block;
}
.s-txt,.s-txt2,.s-txt22{
    /* fRCMLg */
    color: #606060;
    font-family: 'norms';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.rating{
    /* jjYftL */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    overflow: hidden;
    
}
.star{
    /* iIiQzo ,crLkoB*/
    margin: 0px 2px;
    height: 12;
    width: 12;
    flex-shrink: 0;
}
.hstar{
    /* gBDNxG */
    width: 12;
    height: 12;
    margin: 0px 2px;
    flex-shrink: 0;
}
.rating > * + * {
    margin-left: 0px;
}
.rating img{
    width: 12px;
    height: 12px;
}
.rating-txt{
    /* glPrpg ,FRCMLg*/
    color: #606060;
    font-family: 'norms';
    margin-left: 4px !important;
    font-family: 'norms';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    display:inline-block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.op-container {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    grid-area: 2/3;
    margin-left: 0;
    box-sizing: border-box;
}

.button {
    font-family: 'norms2';
    letter-spacing: -0.01px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 32px;
    padding: 0 12px;
    border-radius: 9999px;
    border: none;
    background-color: #eb1700ff;
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 1px #19191900;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}
/* background image */

.bodyy{
    /* eFbVrB */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.bgonly{
    /* efIVhg,bKpFNW */
    background-image: url(img/hero_desktop.png);
    height: 550px;
    padding-top:0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.bgicon{
    /* .hMdRoe */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.bgicononly{
    /* jiFBoj */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.bgicononly > * + *{
    margin-left: 8px;
}
.bgicononly img{
    width: 32;
    height: 18;
    fill: #fff;
}
.icontext{
    /* ciWLJB */
    line-height: 0;
}
.icontext img{
    width: 112;
    height: 13;
    fill: #fff;
}
.doordash{
    /* dDyvLH */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.bg-container{
    /* .YoeDa */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bgtxt{
    /* gjPtnv */
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.txt{
    /* eiyeHU */
    font-family: 'norms2';
    font-weight: 900;
    font-size: 32px;
    max-width: 350px;
    letter-spacing: 0px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    display: block;
}
.opnap{
    /* pMBzd */
    position: absolute;
    left: 0px;
    right: 0px;
    top: 79px;
    margin-top: 16px;
    padding-left: 16px;
    z-index: 1;
}
.opnap > :first-child{
    padding-left: 16px;
}
.opnap-container{
    /* clJuRp */
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.search{
    /* .buOMNS ,cvwBbO*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
.s-container{
    /* .gUzqqV */
    border-radius: 12px;
}
.s-container > * > * > * > * > div{
    border-radius:32px;
}
.s-container2{
    /* .WxsqL */
    width: 100%;
}
.s-container3{
    /* #cWZKtF */
    /* max-width: 100%;
    display: block; */
}
.cont-border{
    /* #evotqE */
    display: flex;
    min-height: 30px;
}
.cont-section{
    /* jLZbLc */
    font-family: 'norms';
    font-size: 16px;
    line-height: 10px;
    letter-spacing: -0.01px;
    color: #191919;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 6px 16px;
    border: none;
    box-shadow: insert 0 0 0 1px #f1f1f1;
    background-color: #fff;
}
.serach-bar{
    /* gYLpek */
    max-width: 100%;
    margin-right: 12px;
    box-sizing: border-box;
}
.s-settings{
    /* .gFEfFt */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    pointer-events: none;
}
.s-bar{
    width: 24px;
    height: 24px;
}
.address{
    /* GXCRy */
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0 12px 0 auto;
}
.add{
   /* hOfdVc */
   font-family:'norms';
   font-size: 16px;
   line-height: 22px;
   letter-spacing: -0.01;
   font-weight: 500;
   width: 100%;
   border: none;
   display: flex;
   background: inherit;
   color: currentcolor;
   appearance: none;
   margin: 0px;
   padding: 0px;
   align-items: center;
}
.arrow{
    /* cPCOub */
    max-width:100%;
    margin-right:0px;
}
.click{
    /* cvFqUQ */
    position:relative;
    max-width:100%;
    margin:0px;
    display:inline-flex;
    min-height:40px;
    border-radius:9999px;
    border:none;
    cursor:pointer;
    transition: normal 0.15s ease-in-out 0s background-color, box-shadow;
    user-select:none;
    text-decoration:none;
    text-align: center;
    background-color: #ffff;
    box-shadow:insert 0 0 0 1px #fff;
    color:#191919;
    height:40px;
    width:40px;
    padding:0px;
    align-items:center;
    justify-content:center;
}
.click arrow{
    flex-shrink:0;
}
.login{
    /* sicDh */
    position:relative;
    max-width:100%;
    margin:0px;
    padding:0px;
    display:inline-flex;
    min-height: 32px;
    width:auto;
    align-items:center;
    justify-content:flex-start;
    border-radius:9999px;
    border:none;
    cursor:pointer;
    transition:normal 0.15s ease-in-out 0s background-color box-shadow;
    user-select:none;
    text-decoration:none;
    text-align:center;
    background-color:#ffff;
    box-shadow: 0 0 0 1px #fff 0px 2px 8px 0px #191919;
    color:#191919;
}
.search > * + *{
    margin-top:16px;
}
.joinus{
    display: block;
    flex-grow:1;
    max-width:100%;
    transition: normal 0.15s ease-in-out 0s;
    opacity:1;
    padding: 0px 12px;
}
.icons{
    /* bKlOJC */
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}
.icon1{
    /* .kMnvDH */
    flex-grow:1;
    flex-shrink: 2;
    min-width: 0px;
    display: flex;
    justify-content: flex-start;
}
.icon-set{
    /* hJzGat */
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-set img{
    width: 16;
    height: 16;
    fill: none;
}
.person{
    flex-shrink: 0;
}
.logintxt{
    /* kXCksQ */
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    justify-content: center;
}
.logintxt > * {
    width: 100%;
}
.icons > * + *{
    margin-left: 4px;
}
.Login{
    line-height: 20px;
    font-size: 14px;
}
.Log{
    line-height: 22px;
    font-size: 16px;
}
.Login,.Log{
    /* itAsYp */
    color: currentColor;
    font-family: 'norms2';
    font-weight: 700;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.box{
    /* ffCbKC */
    max-width: 400px;
    width: 100%;
    margin: 0px auto;
    flex: 1 0 auto;
}
.box-cont{
    /* jqYHLY */
    margin: 20px 20px 0px 20px ;
    box-sizing: border-box;
}
.cntu-container {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    grid-area: 2/3;
    margin-left: 0;
    box-sizing: border-box;
    margin: 0px;
}

.cntu {
    font-family: 'norms2';
    letter-spacing: -0.01px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    width: 100%;
    padding: 0 12px;
    border-radius: 9999px;
    border: none;
    background-color: #eb1700ff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 1px #19191900;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}
.padding{
    /* fqNkfL */
    border-radius: 12px;
    border: 0px solid #f1f1f1;
    padding: 20px;
    background-color: #f7f7f7;
    max-width: 100%;
    display: block;
}
.flexx{
    /* bXAVrk */
    display: flex;
    text-align: left;
    box-sizing: border-box;

}
.logo-small{
    /* hMkEOl */
    width: 60px;
    height: 60px;
    border-radius:10px;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    margin-right: 8px;
    padding: 8px;
}
.img{
    flex-shrink: 0;
}
.f-txt2,.s-txt2,.s-txt22{
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px;
    padding: 0px; 
}
.f-txt2{
    /* .dJbLXm */
    color: #191919;
    font-family: 'norms2';
    font-size: 18px;
    line-height: 20px;
    display: block;
}
.s-txt2{
    /* cgdzvE,kHgfXz */
    margin-left: 4px;
    display: block;
}
.s-txt22{
    margin-left: 4px !important;
}

.container-txt1{
    /* dhyst */
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: left;
}
.container-txt1 > * + *{
    margin-top: 2px;
}
.padding > * + *{
    margin-top: 16px;
}
.btn-container{
    /* jtKXkg */
    position: relative;
    max-width: 100%;
    padding: 0px;
    display: flex;
    min-height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: normal 0.15s ease-in-out 0s background box-shadow;
    text-decoration: none;
    user-select: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: 0 0 0 1px #19191900;
    color: #fff;
}
.display-content{
    width: 100%;
    display: contents;
    overflow: hidden;
}

.CNimg{
    /* gtorYb */
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 768px;
    overflow-x: hidden;
}
.cnpadd{
    /* dfsnfc,ImTISd */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0px;
    /* overflow-x: hidden; */
    max-width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
    /* padding-left: 0px; */
}
.cnbody{
    /* bpViqc */
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}
.cnbdy{
    /* jRxJJW ,bYtiER*/
    display: flex;
    width: 100%;
    min-width: 360px;
    max-width: 100%;
    box-sizing: border-box;
    flex-flow: row;
    padding: 16px 16px;
    /* margin: 0px; */
}
.cn{
    /* bvTdFb */
    margin-right: 32px;
}
.cn img{
    height: 88px;
    width: 88px;
}
.des-bdy{
    /* fpQzDN */
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 250px;
}
.des{
    /* #cJxGCI */
    max-width: 100%;
    display: block;
}
.heading{
    /* #KBERSR */
    color: #191919;
    font-family: 'norms2';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.texxt{
    /* fouIPx */
    box-sizing: border-box;
    max-width: 100%;
    color: #191919;
    font-family: 'norms';
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    display: block;
    margin: 0px;
    padding: 0px;
}
.cn-btn{
    /* cNQ0Bx */
    border: 0px;
    padding: 0px;
    margin: 12px 0 0 0;
    outline: 0px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.cn-txt{
    /* kwevNY */
    color: #eb1700;
    font-family: 'norms2';
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.cntxt-cont{
    /* gAWJWN */
    width: 4px;
}

.NCNimg{
    /* jWAexk */
    width: 100%;
}
.box1{
    /* .fehEYg */
    width: 100%;
}
.box1-pdg{
    /* eAMASL,jpHuMW */
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
}
.box-fix{
    width: 100%;
}
.box1-img{
    /* gDXQrF */
    height: 180px;
    object-fit: cover;
    width: 100%;
}
.box1-margin{
    /* dDkgTd */
    display: flex;
    flex-direction: column;
}
.heading2{
    /* gbrLjj ,ctvTST */
    font-family: 'norms2';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 0px; 
    color: #191919;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 0px;
}
.s-box1{
    font-family: 'norms2';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 90%;  
    color: #191919;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 0px;
}
.heading3{
    /* cyYAuk,goVetq */
    font-family: 'norms2';
    font-size: 18px;
    margin-top: 10px;
    font-weight: 700;
    line-height: 22px;
    width: 344px;
    /* max-width: 90%;    */
    color: #191919;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 0px;
    white-space: nowrap;
}
.box1-des{
    /* bSPaJJ */
    font-family: 'norms';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    max-width:100%;   
    color: #191919;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 0px;
    margin-top: 10px;
}
.btn-box{
    /* tYgds */
    margin-top: 20px;
}
.btn-mrg{
    position: relative;
    max-width: 100%;
    padding: 0px;
    display: inline-flex;
    min-height: 32px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: normal 0.15s ease-in-out 0s background box-shadow;
    text-decoration: none;
    user-select: none;
    text-align: center;
    background-color: #eb1700ff;
    box-shadow: 0 0 0 1px #19191900;
    color: #fff;
    padding: 0px 12px;
}
.rosebgbg{
    width: 100%;
}
.rosebg{
    /* cOPQra,jpHuMW */
    background-color: rgb(254,241,238);
    display: flex;
    flex-direction: column;
    padding: 320px 20px 20px 20px;
    min-width: 90%;
    align-items: center;
}
.box2-img{
    /* gDXQrF */
    height: 180px;
    object-fit: cover;
    width: 100%;
}
.box2-des{
    /* bSPaJJ */
    text-align: left;
    max-width: 100%;    
    font-family: 'norms';
    color: #191919;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
.ads{
    /* bVargu */
    background: url(img/grocery_desktop.png) center center / cover;
    position: relative;
    height: 350px;
    max-width: 1010%;
}
.ads-mgn{
    /* kWETed */
    background-color: rgba(30,30,30,0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.ads-mgn > div{
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 550px;
}
.ads-mgn > * > h2{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0,0,0,0.2) 0px 2px 8px);
}
.ads-mgn > * > div{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0,0,0,0.2) 0px 2px 8px);
}
.ads-mgn > * > span{
    text-align: center;
    color: white;
    filter: drop-shadow(rgba(0,0,0,0.2) 0px 2px 8px);
}
.ads-border{
    /* dDkgYd */
    display: flex;
    flex-direction: column;
}
.box2-pdg{
    /* eAMASL,jpHuMW */
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 90%;
    align-items: center;
}
.rosebg1{
    /* HoDbn */
    display: flex;
    justify-content: center;
    background-color: rgb(254,241,238);
    padding: 40px 20px 20px 20px;
    width: 100%;
    min-width: 90%;
    box-sizing: border-box;
}
.whbg1{
    /* HoDbn */
    display: flex;
    justify-content: center;
    padding: 40px 20px ;
    padding-bottom: 20px;
    width: 100%;
    min-width: 90%;
    box-sizing: border-box;
}
.rosebghd{
    /* gMYgEx,dtvoNG */
    text-align: center;
    width: 300px;
    max-width: 100%;
    color: #191919;
    font-family: 'norms2';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.rosebox{
    /* ceEpoZ */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 100%;
    width: 100%;
    background-color: rgb(254,241,238);
}
.rb-mgn{
    /* TmhL,lnIroq */
    margin-left: 5%;
    margin-right: -10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 90%;
    align-items: center;
    box-sizing: border-box;
}
.rb-img{
    /* height: 180px; */
    width: 100%;
}
.rb-img img{
    /* gDXQrF */
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.rb-margin .box1-margin{
    text-align: center;
    align-items: center;
}
/* .rb-margin > * > h2{
    text-align: center;
}
.rb-margin > * > span{
    text-align: center;
} */
.box3-mrgn{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box1-mrgn{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.alcohol-button{
    margin-top: 10px;
    color: #191919;
    font-family: 'norms2';
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01px;
    /* margin: 0px; */
    padding: 0px;
}
.ulpadding{
    /* evfGKg */
    max-width: 100%;
    padding: 24px 16px;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
}
.ulhd{
    /* cXdnrO,gwkUKe */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #191919;
    font-family: 'norms2';
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 0px;
}
.ullist{
    /* .bKtKKM */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}
.ulsubhd{
    /* kmFtcm */
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
.topcity{
    /* hPLMtv */
    border-bottom: 3px solid transparent;
    box-shadow: 0 3px 0 #191919;
    padding-bottom: 12px;
}
.topcity,.topcuisines{
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: background-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.ultxt{
    /* cnbCCA */
    font-family: 'norms2';
    color: #191919;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.ultxt1,.nam,.footh2{
    font-family: 'norms';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.topcuisines{
    /* iHRBeW */
    border-bottom: 2px solid transparent;
    box-shadow: 0 2px 0 #f1f1f1;
    padding-bottom: 12px;
}
.ultxt1{
    /* cnbCCA */
    color: #606060;
    font-weight: 500;
}
.list{
    /* faVyan */
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
}
.items{
    /* knoRtd */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
}
.nam{
    /* gTEXFq */
    color: #191919;
    font-weight: 500;
}
.cmore{
    /* bdOWRZ */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    cursor: pointer;
    box-sizing: border-box;
}
.seemore{
    /* .dOWmLq,flyptG  */
    font-family: 'norms2';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01px;
    text-decoration: none;
    text-transform: none;
    display: block;
    margin: 0px 8px 0px 0px;
    padding: 0px;
}
.down{
    position: relative;
    max-width: 100%;
    margin: 0px;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    transition: background-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    background-color: #f1f1f1;
    box-shadow: 0 0 0 1px #f1f1f1;
    color: #191919;
}
.footmgn{
    /* cdAOCc  */
    width: 100vw;
    background-color: #191919;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}
.footset{
    /* hgwwIo */
    width: 1184px;;
    box-sizing: border-box;
}
.footpadd{
    /* cNCnse */
    max-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footpadd{
    /* gqULYz */
    text-align: center;
    
}
.footpadd >:first-child{
    /* margin-top: 12px; */
}
.section1{
    /* kehbFL */
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0%;
}
.section1 > :first-child{
    margin-bottom: 8px;
}
.footh2{
    /* dydVAW */
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: 0px !important;
}
.footp1{
    /* ctlXJH */
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-direction: column;
}
.s1p1{
    /* cHCIso */
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}
.s1p1 > *{
    margin-top: 8px;
}
.line{
    color: rgb(196,196,196);
    font-family: 'norms';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
    text-decoration: none;
}
.section2{
  /* dymPiy ,OJXqF */
  display: flex;
  flex-direction: column-reverse;
}
.s2padding{
    /* gqULYz,eNkRCg  */
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 0%;
    justify-content: space-between;
    gap: 12px;
}
.s2padding > * {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
}
.s2padding > * >:first-child{
    margin-bottom: 8px;
}
.mob-goog{
    /* cfEBmt */
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}
.section2 > * {
    flex: 1 1 0%;
}
.mob-goog > * {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-container{
    /* .fmCyWB */
    opacity: 0.7;
    cursor: poniter;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
}
.m-padding{
    /* dJIbim */
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-padding img{
    height: 48px;
    width: 144px;
    fill: #ffff;
    x:0px;
    y:0px;
}
.mob-goog > * > * + *{
    margin-top: 12px;
}
.section3 {
    /* .gqULYz,.haJYzw */
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.sec-3{
    /* eRuPEE */
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    margin-top: 12px;
}
.section3 > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lstlogo{
    /* egXQHq */
    text-decoration: inherit;
    cursor: pointer;
    box-sizing: border-box;
}
.logotxt{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.bgicononly > * + *{
    margin-left: 8px;
}
.lstlogo-mrg{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.lstlogo{
    width: 32;
    height: 18;
    fill: #ffff;
}
.lst1-txt{
    /* gccwzI */
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: filter 0.2s;
}
.sec-3 > * + * {
    margin-left: 16px;
}
.lst-txt{
    color: rgb(196, 196, 196);
    font-family: 'norms';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01px;
    text-transform: none;
    display: block;
    margin: 0px;
    padding: 0px;
}
.sec-2{
    /*fNjA-do */
    padding: 12px;
}
.lang-bdr{
    /* jxBfvu  */
    width: 150px;
}
.lang-mgn{
    /* liEdSS */
    display: flex;
    min-height: 32px;
}
.lang-container{
    /* WxsqL,cWZKtF */
    width: 100%;
    max-width: 100%;
    display: block;

}
.lang-mgn1{
    font-family: 'norms';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    color: #191919;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 16px;
    z-index: 1;
    padding: 4px 12px;
    border: none;
    box-shadow: 0 0 0 1px;
    background-color: #f1f1f1ff;
}
.earth{
    /* kBqRMP */
    max-width: 100%;
    margin-right: 8px;
}
.earth-mgn{
    /* hsQenC */
    display: flex;
}
.earth-img{
    width: 24;
    height: 24; 
    fill: none;
}
.earth-img1{
     width: 24;
    height: 24; 
    fill: none;
    margin-left: 12px;
}
.eng{
    /* ctgegP */
    flex-grow: 1;
    background: inherit;
    max-width: 100%;
    margin: 0px auto;
}
.eng-mgn{
    /* gbreNo */
    position: relative;
    background: inherit;
}
.drop{
    /* dzAMwJ */
    font-family: 'norms';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01px;
    font-weight: 500;
    width: 100%;
    border:none;
    outline: none;
    display: flex;
    background: inherit;
    color: currentColor;
    appearance: none;
    padding: 0px;
    margin: 0px;
}
.downsvg{
     /* QArxc */
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     top: 0px;
     right: 0px;
     height: 24px;
     max-height: 100%;
     min-height: 8px;
     pointer-events: none;
     background: transparent;
     bottom: 0px;
     margin: auto 0px;
}
.sec1{
    /* IEMKC */
    flex-wrap: nowrap;
}
.fb{
    /* fmCyWB */
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s;
    text-decoration: none;
    color: inherit;
}
.section3 > * > * + *{
    /* margin-left: 12px; */
}
.sign{
    display: none;
}
.searchh,.rb-raw{
    display: none;
}
.rosebox768.box1-imgdesk,.box2-imgdesk{
    display: none;
}
.rb-row{
display: none;
}
.desk-img{
   display: none; 
}
.box1-img{
    display: block;
}
