@media screen and (min-width:768px) {
    .main{
        display: none;
    }
    .bgonly{
    /* RuziH */
    background-image:  url(http://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png);
    height: 650px;
    padding: 0px 8px;
    }
    .bgicon{
    /* eNDJRj */
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    }
    .bgicononly{
    /* clJuRp */
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    }
    .bg-container{
         /* jLybrZ */
    width: 408px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    }
    .bg-txt{
        /* kcjNMt */
         margin-bottom: 24px;
    }
    .txt{
        font-size: 22px;
    }
    .opnap{
       display: none;
    }
    .sign {     
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 16px;
    z-index: 1;
    display: contents;
    }
    .sign > :first-child {
    padding-left: 16px;
    }
    .sign-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    margin-top: 16px;
    z-index: 1;    
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    }

    /* Red background - Sign In */
    .signin {
    letter-spacing: -0.01;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 0px 12px;
    border-radius: 9999px;
    border: none;
    background-color: #eb1700ff;
    color: #fff;
    font-family: 'norms';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 1px #19191900;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
    }

/* White background - Sign Up */
    .signup {
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px 12px;
    display: inline-flex;
    min-height: 40px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    user-select: none;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 0 1px #fff;
    color: #606060;
    font-family: 'norms';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    }
    .signtxt{
    /* kXCksQ */
    flex-grow: 2;
    min-width: 0px;
    display: flex;
    justify-content: center;
    }
    .signtxt > * {
        width: 100%;
    }
    .searchh{
    /* .buOMNS ,cvwBbO*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    } 
    .searchh > * + *{
    margin-top:17px;
    }
    .click{
    /* cvFqUQ */
    background-color:#eb1700ff !important;
    }
    .s-container{
        border-radius: 12px;
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 0px;
        box-sizing: border-box;
    }
    .cont-border{
    justify-content: center;
    display: flex;
    min-height: 40px;
    }

    .cont-section{
    display: flex;
    border-radius: 32px;
    width: 100%;
    min-height: 40px;
    max-width: none;
    line-height: 12px;
    font-weight: 500;
    align-items: center;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom:7px;
    padding-left: 20px !important;
    border: none;
    box-shadow: 0 0 0 1px #f1f1f1;
    background-color: #ffff;
    }
    .s-settings{
        justify-content: center;
    }
    .search,.box{
        display: none;
    }
    .cnpadd{
        margin: 32px 0;
    }
    .cn{
        margin-right: 64px;
    }
    .cn img{
        height: 128px;
        width: 128px;
    }
    .box1-pdg{
        flex-direction: row;
        justify-content: center;
        margin-bottom: -60px;
     }
     .box1-mrg{
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        max-width: 1184px;
        box-sizing: border-box;
     }
      .box2-mrg{
        display: flex;
        flex-direction: row;
        gap: 60px;
        max-width: 1184px;
        box-sizing: border-box;
     }
     .box1-img{
        height: 500px;
        width: 294px;
     }
     .box2-img{
        height: 500px;
        width: 302px;
     }
     .box1-margin{
        max-width: 400px;
        margin-top: auto;
        margin-bottom: auto;
        box-sizing: border-box;
     }
     .heading2{
        font-size: 40px;
        line-height: 40px;
     }
     .heading3{
        font-size: 20px;
        line-height: 24px;
        margin-top: 20px;
     }
     .box1-des{
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
     }
     
     .box2-des{
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
     }
     .btn-box{
    /* tYgds */
        margin-top: 30px;
    }     
    .btn-mrg{
        min-height: 40px;
        padding: 0px 12px;
    } 
    .Login{
        font-size: 16px;
        align-items: center;
        justify-content: center;
    }
    .rosebg{
        flex-direction: row;
        justify-content: center;
        padding: 80px 20px 20px 20px;
    }
    .whbg1{
        padding: 60px 20px 40px;
        justify-content: center;
    }
    .ads{
        height: 600px;
    }
    .ads-mgn{
        place-content: center;
    }
    .logintxt{
        min-width: 0px;
        display: flex;
        justify-content: center;
    }
    .box2-pdg{
        padding-top: 60px;
        margin-bottom: -40px;
    }
    .box4-img,.box6-img,.box7-img{
        height: 500px;
        object-fit: cover;
    }
    .box4-img{
        width: 345px;
    }
    .box6-img{
        width: 285px;
    }
    .box7-img{
        width: 307px;
    }
    .rosebg1{
        padding: 60px 20px 40px !important;
        justify-content: center;
    }
    .rosebghd{
        font-size: 32px;
        line-height: 40px;
        max-width: 500px;
    }
    .rosebox{
       display: none;
    }
    .roseboxx{
        flex-direction: column;
        align-items: center;
        max-width: none;
        overflow-x: none;
    }
    .rb-mgn{
        max-width: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        min-width: 0;
    }
    .rb-box{
        max-width: 100%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
     .rb-row{
        display: flex;
        background-color: rgb(254, 241, 238);
        flex-flow: wrap !important;
        width: 100%;
        max-width: 1184px;
    }
    .roseboxx{
        display: contents;
    }
    .rb-img img{
        height: 344px;
        width: 344px;
    }
    .s-box1{
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }
    .box1-mgn > * > span {
        margin-top: 20px;
    }
    .ulpadding{
        width: 100%;
        max-width: 1130px;
        padding: 48px 0;
        margin: 0px auto;
    }
    .topcity,.topcuisines{
        padding: 0px;
    }
    .box768-des{
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        font-family: 'norms';
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        max-width: 99%;   
        color: #191919;
        letter-spacing: -0.01px;
        text-decoration: none;
        text-transform: none;
        display: block;
        padding: 0px;
    }
    .alcohol-button{
        font-weight: 500;
        font-size: 14px;
        margin-top: 20px;
    }
    .footmgn{
        width: 768px;
    }
    .footh2{
        text-align: left;
    }
    .footp1{
        flex-direction: row;
        text-align: left;
    }
    .s2padding{
        flex-direction: row;
         text-align: left;
         gap: 108px;
    }
    .sec-3{
        margin-top: 0px;
        flex-direction: row;
    }
    .sec-2{
        /* width: 150px; */
        padding: 0px 12px;
    }
    .section3{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .lst1-txt,.lst-txt{
        white-space: nowrap;
    }
    .sec1{
        height: 36px;
    }
}
